.app-header {

  .app-logo {
    min-width: 250px;
    background: rgba(#ffffff, .5);
  }

  .app-user-pic {
    height: 60px;
    min-width: 60px;
    border-radius: 50px;
    background: rgba(#ffffff, .5);
  }

  .section-title {
    font-size: 120%;
  }

}

